{% extends 'base.html.twig' %}
{% block title 'Mon agence | Les biens' %}
{% block body %}
	<div class="container">
		<h1>Voir tous nos biens</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur aconsectetur dipisicing elit. Fuga asperiores doloribus reiciendis veniam 
		</p>
	</div>
	<div class="container"></div>
{% endblock %}


	
